@charset "UTF-8";
/* Reseteo y constantes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Algunas constantes que se van a utilizar en todo el proyecto */
/* Header */
.header {
  grid-area: header;
  background-color: #0069a4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .titulo {
  color: whitesmoke;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  width: 100wh;
}
.header .logo img {
  border-radius: 50%;
}
.header .titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Barra de Navegacion */
.barraNavegacion ul {
  background-color: #0069a4;
  padding-top: 25px;
  padding-left: 10px;
}
.barraNavegacion ul li {
  display: inline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  text-decoration: none;
}
.barraNavegacion ul li a {
  text-decoration: none;
  color: whitesmoke;
  background-color: #0069a4;
  border: black solid 1px;
  border-radius: 0px;
  padding: 5px;
  display: inline-block;
}
.barraNavegacion ul li a:hover {
  color: black;
  font-style: inherit;
  background-color: #3a4856;
  transition: 0.5s;
  transform: skewX(-5deg) translateY(2px);
}

/* Body y algunas definiciones comunes a todas las paginas del sitio */
body {
  background-image: url(../assets/background/background-2551501_1920.jpg);
  background-position: center;
  background-size: cover;
}

main {
  min-height: calc(100vh - 105px - 110px);
}

section {
  border: black solid 1px;
  border-radius: 3px;
  background-color: rgba(245, 245, 245, 0.55);
  padding: 15px;
  margin: 5px;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}

h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  font-size: 120%;
}

/* Contenido de pagina principal */
.mainInicio {
  grid-area: mainInicio;
  /*     .masFotosinicio{
          grid-area: masFotos;
      } */
}
.mainInicio .establecimiento {
  width: auto;
  max-height: 100%;
  grid-area: establecimiento;
}
.mainInicio .establecimiento div {
  height: 100%;
  width: 100%;
}
.mainInicio .establecimiento div img {
  height: 100%;
  width: 100%;
  min-width: 220px;
  min-height: 360px;
  object-fit: cover;
  max-height: 65vh;
}
.mainInicio .productosYServicios {
  grid-area: productosYServicios;
  /* Aca mediante MAPS y EXTEND vamos a definir a todos las minifotos*/
}
.mainInicio .productosYServicios .miniFotosPyS div {
  display: flex;
  flex-direction: column;
}
.mainInicio .productosYServicios .miniFotosPyS div div {
  margin-top: 50px;
  height: 30px;
  width: 75%;
  background-color: whitesmoke;
  align-self: center;
  border-radius: 15px;
}
.mainInicio .productosYServicios .miniFotosPyS div div p {
  text-align: center;
  color: black solid 1px;
  text-shadow: 1px;
  font-size: medium;
}
.mainInicio .productosYServicios .miniatura, .mainInicio .productosYServicios #Accesorios, .mainInicio .productosYServicios #ProtesisOculares, .mainInicio .productosYServicios #Soluciones, .mainInicio .productosYServicios #Lupas, .mainInicio .productosYServicios #Binoculares, .mainInicio .productosYServicios #LentesDeContacto, .mainInicio .productosYServicios #LentesRecetados, .mainInicio .productosYServicios #LentesDeSol {
  width: 210px;
  height: 150px;
  background-position: center;
  background-size: cover;
}
.mainInicio .productosYServicios .miniatura:hover, .mainInicio .productosYServicios #Accesorios:hover, .mainInicio .productosYServicios #ProtesisOculares:hover, .mainInicio .productosYServicios #Soluciones:hover, .mainInicio .productosYServicios #Lupas:hover, .mainInicio .productosYServicios #Binoculares:hover, .mainInicio .productosYServicios #LentesDeContacto:hover, .mainInicio .productosYServicios #LentesRecetados:hover, .mainInicio .productosYServicios #LentesDeSol:hover {
  filter: grayscale(100%);
}
.mainInicio .productosYServicios #LentesDeSol {
  background-image: url("../assets/fotos/productos/union_pacific_sol.jpg");
}
.mainInicio .productosYServicios #LentesRecetados {
  background-image: url("../assets/fotos/imagenesindex/glasses-6336907_1920.jpg");
}
.mainInicio .productosYServicios #LentesDeContacto {
  background-image: url("../assets/fotos/imagenesindex/lens-4818786_1920.jpg");
}
.mainInicio .productosYServicios #Binoculares {
  background-image: url("../assets/fotos/imagenesindex/binoculars-3643343_1920.jpg");
}
.mainInicio .productosYServicios #Lupas {
  background-image: url("../assets/fotos/imagenesindex/a-book-3045205_1920.jpg");
}
.mainInicio .productosYServicios #Soluciones {
  background-image: url("../assets/fotos/imagenesindex/contact-lenses-4792983_1920.jpg");
}
.mainInicio .productosYServicios #ProtesisOculares {
  background-image: url("../assets/fotos/imagenesindex/protesis_ocular.jpg");
}
.mainInicio .productosYServicios #Accesorios {
  background-image: url("../assets/fotos/imagenesindex/glasses-1124417_1920.jpg");
}
.mainInicio .productosYServicios .miniFotosPyS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Se añade Mixin */
/* #foto1{
    @include miniFotosEstilos(url("../assets/fotos/imagenesindex/lens-4818786_1920.jpg"));
}
#foto2{
    @include miniFotosEstilos(url("../assets/fotos/imagenesindex/contact-lenses-4792983_1920.jpg"));
}
#foto3{
    @include miniFotosEstilos(url("../assets/fotos/imagenesindex/glasses-6336907_1920.jpg"));
} */
.promocionesBancarias {
  grid-area: promociones;
}
.promocionesBancarias .imgdesc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.promocionesBancarias .imgdesc .descuentos {
  margin: 25px;
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  height: 225px;
  width: 300px;
}
.promocionesBancarias .imgdesc .descuentos img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Contenido de pagina donde encontrarnos */
.dondeEncontrarnos .row {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Contenido de pagina productos */
/* Importo Jumbotron */
.jumbotron-h2, .productos h2 {
  padding-bottom: 2.5rem;
  padding-top: 1rem;
  background-color: rgb(5, 5, 5);
  color: whitesmoke;
}

.jumbotron-h3, .productos h3 {
  text-align: left;
  font-family: Geneva, Tahoma, sans-serif;
  padding-left: 20px;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  background-color: #4c5967;
  color: whitesmoke;
}

body {
  overflow-x: hidden;
}

.productos {
  display: block;
}
.productos h2 {
  font-size: xx-large;
}
.productos h3 {
  font-size: x-large;
}
.productos article {
  width: 100%;
}
.productos .lentesDeSol, .productos .lentesRecetados, .productos .accesorios {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  /* Aca mediante MAPS y EXTEND vamos a definir a todos los productos */
  /* $productos:(
      productoA1: url("../assets/fotos/productos/union_pacific_sol.jpg"),
      productoA2: url("../assets/fotos/productos/mara-lente-sol.jpg"),
      productoA3: url("../assets/fotos/productos/valdez-receta.jpg"),
      productoA4: url("../assets/fotos/productos/D_NQ_NP_786286-MLA46233536589_062021-O.jpg"),
      productoA5: url("../assets/fotos/productos/D_NQ_NP_2X_957470-MLA45538941816_042021-F.jpg"),
      productoA6: url("../assets/fotos/productos/38248696-gafas-de-sol-classic.jpg"),
      productoB1: url("../assets/fotos/productos/valdes-receta.jpg"),
      productoB2: url("../assets/fotos/productos/union_pacific_receta.jpg"),
      productoB3: url("../assets/fotos/productos/lentes-litio.jpg"),
      productoC1: url("../assets/fotos/productos/estuche-de-lentes-en-silicona.jpg"),
      productoC2: url("../assets/fotos/productos/cordones.jpg")
  ); */
  /* 
  @each $articulo, $url in $productos {
      {$articulo}{
          @extend .miniatura;
          background-image: $url;
      }
  } */
}
.productos .lentesDeSol div, .productos .lentesRecetados div, .productos .accesorios div {
  width: 260px;
  height: 320px;
  margin: 10px;
  border: gray solid 1px;
  background-color: rgba(245, 245, 245, 0.45);
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.productos .lentesDeSol div .miniaturaProducto, .productos .lentesRecetados div .miniaturaProducto, .productos .accesorios div .miniaturaProducto {
  width: 230px;
  height: 150px;
  margin: 0px;
  padding: 0px;
}
.productos .lentesDeSol div .miniaturaProducto img, .productos .lentesRecetados div .miniaturaProducto img, .productos .accesorios div .miniaturaProducto img {
  height: 100%;
  width: 100%;
  margin: 0px;
  object-fit: cover;
}
.productos .lentesDeSol {
  grid-area: lentesDeSol;
}
.productos .lentesDeRecetados {
  grid-area: lentesRecetados;
}
.productos .accesorios {
  grid-area: accesorios;
}

#titulo_productos {
  grid-area: titulo_productos;
}

#titulo_lentesRecetados {
  grid-area: titulo_lentesRecetados;
}

#titulo_accesorios {
  grid-area: titulo_accesorios;
}

/* Contenido de pagina servicios */
.servicios section {
  padding-left: 30px;
  background-color: rgba(245, 245, 245, 0.55);
}

/* Contenido de pagina nosotros */
/* Estas clases sirve para definir las miniatura de las paginas Servicios y nosotros */
.miniaturas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.miniaturas .fotosMiniatura img {
  width: 380px;
  height: 260px;
  min-height: 120px;
}

/* Footer */
.footer {
  grid-area: footer;
  background-color: #0069a4;
  text-align: center;
  padding-top: 25px;
  margin-top: 10px;
}
.footer a {
  padding: 8px;
}
.footer p {
  padding-top: 8px;
  margin-bottom: 0px;
}
.footer i {
  display: inline-block;
  font-size: xx-large;
  height: auto;
  color: whitesmoke;
  text-align: center;
}
.footer i:hover {
  color: black;
  transform: translateY(-5px);
  transition: 0.75s;
}

/* Aplica grids a distintas resoluciones */
@media only screen and (min-width: 769px) {
  .inicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px auto 125px;
    grid-template-areas: "header" "mainInicio" "footer";
  }
  .mainInicio {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "establecimiento promociones" "productosYServicios promociones";
  }
  .accesorios {
    flex-direction: column;
  }
  .productos article {
    overflow: auto;
  }
  /*     .productos{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 150px 80px auto 80px auto 80px auto;
          grid-template-areas: "titulo_productos"
          "titulo_lentesDeSol"
          "lentesDeSol"
          "titulo_lentesRecetados"
          "lentesRecetados"
          "titulo_accesorios"
          "accesorios";
          .lentesDeSol, .lentesRecetados, .accesorios{
              display: flex;
              flex-direction: row;
              align-items: center;
              flex-wrap: nowrap;
          }
      } */
}

/*# sourceMappingURL=estilos.css.map */
