@charset "UTF-8";
/* Reseteo y constantes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Algunas constantes que se van a utilizar en todo el proyecto */
/* Header */
.header {
  grid-area: header;
  background-color: #3b8ac3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .titulo {
  color: whitesmoke;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  width: 100wh;
}
.header .logo img {
  border-radius: 50%;
}
.header .titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Barra de Navegacion */
.barraNavegacion ul {
  background-color: #3b8ac3;
  padding-top: 25px;
  padding-left: 10px;
}
.barraNavegacion ul li {
  display: inline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  text-decoration: none;
}
.barraNavegacion ul li a {
  text-decoration: none;
  color: whitesmoke;
  background-color: #3b8ac3;
  border: black solid 1px;
  border-radius: 0px;
  padding: 5px;
  display: inline-block;
}
.barraNavegacion ul li a:hover {
  color: black;
  font-style: inherit;
  background-color: #3a4856;
  transition: 0.5s;
  transform: skewX(-5deg) translateY(2px);
}

/* Body y algunas definiciones comunes a todas las paginas del sitio */
body {
  /* background-color: rgb(199, 191, 191); */
  background-image: url(../assets/background/background-2551501_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

section {
  border: black solid 1px;
  border-radius: 3px;
  background-color: rgba(245, 245, 245, 0.3);
  padding: 15px;
  margin: 5px;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}

h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  font-size: 120%;
}

/* Contenido de pagina principal */
.mainInicio {
  grid-area: mainInicio;
}
.mainInicio .establecimiento {
  width: auto;
  grid-area: establecimiento;
}
.mainInicio .establecimiento div {
  min-width: 220px;
  min-height: 360px;
}
.mainInicio .establecimiento .perro {
  background-image: url("../assets/fotos/establecimiento/bordeaux-dog-217018_1280.jpg");
  background-position: center;
  background-size: cover;
}
.mainInicio .establecimiento .nene {
  background-image: url("../assets/fotos/establecimiento/kid-1508121_1920.jpg");
  background-position: center;
  background-size: cover;
}
.mainInicio .establecimiento .amigas {
  background-image: url("../assets/fotos/establecimiento/people-2596150_1920.jpg");
  background-position: center;
  background-size: cover;
}
.mainInicio .establecimiento .hombre1 {
  background-image: url("../assets/fotos/establecimiento/eyeglasses-1866734_1920.jpg");
  background-position: center;
  background-size: cover;
}
.mainInicio .establecimiento .hombre2 {
  background-image: url("../assets/fotos/establecimiento/happy-1836445_1920.jpg");
  background-position: center;
  background-size: cover;
}
.mainInicio .establecimiento .mujer1 {
  background-image: url("../assets/fotos/establecimiento/woman-1869116_1920.jpg");
  background-position: center;
  background-size: cover;
}
.mainInicio .establecimiento .anteojoslibro {
  background-image: url("../assets/fotos/establecimiento/glasses-1052023_1920.jpg");
  background-position: center;
  background-size: cover;
}

.productosYServicios {
  grid-area: productosYServicios;
}
.productosYServicios ul {
  margin-left: 20px;
}

.masFotosinicio {
  grid-area: masFotos;
}

/* Se añade Mixin */
#foto1 {
  width: 100%;
  height: 33.3333333333%;
  min-height: 120px;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/fotos/establecimiento/lens-4818786_1920.jpg");
}

#foto2 {
  width: 100%;
  height: 33.3333333333%;
  min-height: 120px;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/fotos/establecimiento/contact-lenses-4792983_1920.jpg");
}

#foto3 {
  width: 100%;
  height: 33.3333333333%;
  min-height: 120px;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/fotos/establecimiento/glasses-6336907_1920.jpg");
}

.promocionesBancarias {
  grid-area: promociones;
}
.promocionesBancarias .imgdesc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.promocionesBancarias .descuentos {
  margin: 25px;
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  height: 225px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

#banco_provincia {
  background-image: url("../assets/fotos/promociones/banco_provincia.png");
}

#banco_icbc {
  background-image: url("../assets/fotos/promociones/icbc.png");
}

/* Contenido de pagina donde encontrarnos */
.dondeEncontrarnos .row {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Contenido de pagina productos */
/* Importo Jumbotron */
.jumbotron-h2, .productos h2 {
  padding-bottom: 5rem;
  padding-top: 1rem;
  background-color: #3b4856;
  color: whitesmoke;
}

.jumbotron-h3, .productos h3 {
  text-align: left;
  font-family: Geneva, Tahoma, sans-serif;
  padding-left: 20px;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  background-color: #4c5967;
  color: whitesmoke;
}

.productos {
  display: block;
}
.productos h2 {
  font-size: xx-large;
}
.productos h3 {
  font-size: x-large;
}
.productos article {
  overflow: scroll;
}
.productos .lentesDeSol, .productos .lentesRecetados, .productos .accesorios {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  /* Aca mediante MAPS y EXTEND vamos a definir a todos los productos */
  /* #producto1{
      background-image: url("../assets/fotos/productos/union_pacific_sol.jpg");
      background-position: center;
      background-size: cover;
  }
  #producto2{
      background-image: url("../assets/fotos/productos/mara-lente-sol.webp");
      background-position: center;
      background-size: cover;
  }
  #producto3{
      background-image: url("../assets/fotos/productos/valdez-receta.jpg");
      background-position: center;
      background-size: cover;
  }
  #producto4{
      background-image: url("../assets/fotos/productos/valdes-receta.jpg");
      background-position: center;
      background-size: cover;
  }
  #producto5{
      background-image: url("../assets/fotos/productos/union_pacific_receta.jpg");
      background-position: center;
      background-size: cover;
  }
  #producto6{
      background-image: url("../assets/fotos/productos/lentes-litio.jpg");
      background-position: center;
      background-size: cover;
  }
  #producto7{
      background-image: url("../assets/fotos/productos/estuche-de-lentes-en-silicona.jpg");
      background-position: center;
      background-size: cover;
  }
  #producto8{
      background-image: url("../assets/fotos/productos/cordones.jpg");
      background-position: center;
      background-size: cover;
  } */
}
.productos .lentesDeSol div, .productos .lentesRecetados div, .productos .accesorios div {
  width: 260px;
  height: 320px;
  margin: 10px;
  border: gray solid 1px;
  background-color: rgba(245, 245, 245, 0.45);
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.productos .lentesDeSol div .miniatura, .productos .lentesDeSol div #producto8, .productos .lentesDeSol div #producto7, .productos .lentesDeSol div #producto6, .productos .lentesDeSol div #producto5, .productos .lentesDeSol div #producto4, .productos .lentesDeSol div #producto3, .productos .lentesDeSol div #producto2, .productos .lentesDeSol div #producto1, .productos .lentesRecetados div .miniatura, .productos .lentesRecetados div #producto8, .productos .lentesRecetados div #producto7, .productos .lentesRecetados div #producto6, .productos .lentesRecetados div #producto5, .productos .lentesRecetados div #producto4, .productos .lentesRecetados div #producto3, .productos .lentesRecetados div #producto2, .productos .lentesRecetados div #producto1, .productos .accesorios div .miniatura, .productos .accesorios div #producto8, .productos .accesorios div #producto7, .productos .accesorios div #producto6, .productos .accesorios div #producto5, .productos .accesorios div #producto4, .productos .accesorios div #producto3, .productos .accesorios div #producto2, .productos .accesorios div #producto1 {
  width: 230px;
  height: 150px;
  margin: 0;
  background-position: center;
  background-size: cover;
}
.productos .lentesDeSol #producto1, .productos .lentesRecetados #producto1, .productos .accesorios #producto1 {
  background-image: url("../assets/fotos/productos/union_pacific_sol.jpg");
}
.productos .lentesDeSol #producto2, .productos .lentesRecetados #producto2, .productos .accesorios #producto2 {
  background-image: url("../assets/fotos/productos/mara-lente-sol.webp");
}
.productos .lentesDeSol #producto3, .productos .lentesRecetados #producto3, .productos .accesorios #producto3 {
  background-image: url("../assets/fotos/productos/valdez-receta.jpg");
}
.productos .lentesDeSol #producto4, .productos .lentesRecetados #producto4, .productos .accesorios #producto4 {
  background-image: url("../assets/fotos/productos/valdes-receta.jpg");
}
.productos .lentesDeSol #producto5, .productos .lentesRecetados #producto5, .productos .accesorios #producto5 {
  background-image: url("../assets/fotos/productos/union_pacific_receta.jpg");
}
.productos .lentesDeSol #producto6, .productos .lentesRecetados #producto6, .productos .accesorios #producto6 {
  background-image: url("../assets/fotos/productos/lentes-litio.jpg");
}
.productos .lentesDeSol #producto7, .productos .lentesRecetados #producto7, .productos .accesorios #producto7 {
  background-image: url("../assets/fotos/productos/estuche-de-lentes-en-silicona.jpg");
}
.productos .lentesDeSol #producto8, .productos .lentesRecetados #producto8, .productos .accesorios #producto8 {
  background-image: url("../assets/fotos/productos/cordones.jpg");
}
.productos .lentesDeSol {
  grid-area: lentesDeSol;
}
.productos .lentesDeRecetados {
  grid-area: lentesRecetados;
}
.productos .accesorios {
  grid-area: accesorios;
  flex-direction: column;
}

#titulo_productos {
  grid-area: titulo_productos;
}

#titulo_lentesRecetados {
  grid-area: titulo_lentesRecetados;
}

#titulo_accesorios {
  grid-area: titulo_accesorios;
}

/* Contenido de pagina servicios */
.servicios section {
  padding-left: 30px;
}

/* Contenido de pagina nosotros */
/* .nosotros{
    height: auto;
    border: black solid 1px;
    border-radius: 3px;
    background-color: $color2;
    padding: 15px;
    display: block;
} */
/* Footer */
.footer {
  grid-area: footer;
  background-color: #3b8ac3;
  text-align: center;
  padding-top: 25px;
  margin-top: 10px;
}
.footer a {
  padding: 8px;
}
.footer p {
  padding-top: 8px;
  margin-bottom: 0px;
}
.footer i {
  display: inline-block;
  font-size: xx-large;
  height: auto;
  color: whitesmoke;
  text-align: center;
}
.footer i:hover {
  color: black;
  transform: translateY(-5px);
  transition: 0.75s;
}

/* Aplica grids a distintas resoluciones */
@media only screen and (min-width: 769px) {
  .inicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px auto 125px;
    grid-template-areas: "header" "mainInicio" "footer";
  }
  .mainInicio {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "establecimiento establecimiento promociones" "productosYServicios masFotos promociones";
  }
  .accesorios {
    flex-direction: column;
  }
  .productos article {
    overflow: auto;
  }
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 110px 1fr 110px 1fr 110px 1fr;
    grid-template-areas: "titulo_productos" "titulo_lentesDeSol" "lentesDeSol" "titulo_lentesRecetados" "lentesRecetados" "titulo_accesorios" "accesorios";
  }
  .productos .lentesDeSol, .productos .lentesRecetados, .productos .accesorios {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  /*     .jumbotron-h2{
          padding-bottom: 5rem;
          padding-top: 1rem;
      }
      .jumbotron-h3{
          padding-left: 10px;
          padding-bottom: 1rem;
          padding-top: 1rem;
      } */
}

/*# sourceMappingURL=estilos.css.map */
