div{
    width: 260px;
    height: 320px;
    margin: 10px;
    border: gray solid 1px;
    background-color: rgb(219, 219, 219);
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .miniatura{
        width: 230px;
        height: 150px;
        margin: 0;
        background-position: center;
        background-size: cover;
    }
}

/* Aca mediante MAPS y EXTEND vamos a definir a todos los productos */

$productos:(
    producto1: url("../assets/fotos/productos/union_pacific_sol.jpg"),
    producto2: url("../assets/fotos/productos/mara-lente-sol.webp"),
    producto3: url("../assets/fotos/productos/valdez-receta.jpg"),
    producto4: url("../assets/fotos/productos/valdes-receta.jpg"),
    producto5: url("../assets/fotos/productos/union_pacific_receta.jpg"),
    producto6: url("../assets/fotos/productos/lentes-litio.jpg"),
    producto7: url("../assets/fotos/productos/estuche-de-lentes-en-silicona.jpg"),
    producto8: url("../assets/fotos/productos/cordones.jpg")
);

@each $articulo, $url in $productos {
    ##{$articulo}{
        @extend .miniatura;
        background-image: $url;
    }
    
}

/* #producto1{
    background-image: url("../assets/fotos/productos/union_pacific_sol.jpg");
    background-position: center;
    background-size: cover;
}
#producto2{
    background-image: url("../assets/fotos/productos/mara-lente-sol.webp");
    background-position: center;
    background-size: cover;
}
#producto3{
    background-image: url("../assets/fotos/productos/valdez-receta.jpg");
    background-position: center;
    background-size: cover;
}
#producto4{
    background-image: url("../assets/fotos/productos/valdes-receta.jpg");
    background-position: center;
    background-size: cover;
}
#producto5{
    background-image: url("../assets/fotos/productos/union_pacific_receta.jpg");
    background-position: center;
    background-size: cover;
}
#producto6{
    background-image: url("../assets/fotos/productos/lentes-litio.jpg");
    background-position: center;
    background-size: cover;
}
#producto7{
    background-image: url("../assets/fotos/productos/estuche-de-lentes-en-silicona.jpg");
    background-position: center;
    background-size: cover;
}
#producto8{
    background-image: url("../assets/fotos/productos/cordones.jpg");
    background-position: center;
    background-size: cover;
} */