.establecimiento{
    width: auto;
    grid-area: establecimiento;
    div{
        min-width: 220px;
        min-height: 360px;
    }
    .perro{
        background-image: url("../assets/fotos/establecimiento/bordeaux-dog-217018_1280.jpg");
        background-position: center;
        background-size: cover;
    }
    .nene{
        background-image: url("../assets/fotos/establecimiento/kid-1508121_1920.jpg");
        background-position: center;
        background-size: cover;
    }
    .amigas{
        background-image: url("../assets/fotos/establecimiento/people-2596150_1920.jpg");
        background-position: center;
        background-size: cover;
    }
    .hombre1{
        background-image: url("../assets/fotos/establecimiento/eyeglasses-1866734_1920.jpg");
        background-position: center;
        background-size: cover;
    }
    .hombre2{
        background-image: url("../assets/fotos/establecimiento/happy-1836445_1920.jpg");
        background-position: center;
        background-size: cover;
    }
    .mujer1{
        background-image: url("../assets/fotos/establecimiento/woman-1869116_1920.jpg");
        background-position: center;
        background-size: cover;
    }
    .anteojoslibro{
        background-image: url("../assets/fotos/establecimiento/glasses-1052023_1920.jpg");
        background-position: center;
        background-size: cover;
    }
}