div{
    width: 260px;
    height: 320px;
    margin: 10px;
    border: $colorborder2;
    background-color: $colorcard;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .miniatura{
        width: 230px;
        height: 150px;
        margin: 0;
        background-position: center;
        background-size: cover;
    }
}

/* Aca mediante MAPS y EXTEND vamos a definir a todos los productos */

$productos:(
    productoA1: url("../assets/fotos/productos/union_pacific_sol.jpg"),
    productoA2: url("../assets/fotos/productos/mara-lente-sol.jpg"),
    productoA3: url("../assets/fotos/productos/valdez-receta.jpg"),
    productoA4: url("../assets/fotos/productos/D_NQ_NP_786286-MLA46233536589_062021-O.jpg"),
    productoA5: url("../assets/fotos/productos/D_NQ_NP_2X_957470-MLA45538941816_042021-F.jpg"),
    productoA6: url("../assets/fotos/productos/38248696-gafas-de-sol-classic.jpg"),
    productoB1: url("../assets/fotos/productos/valdes-receta.jpg"),
    productoB2: url("../assets/fotos/productos/union_pacific_receta.jpg"),
    productoB3: url("../assets/fotos/productos/lentes-litio.jpg"),
    productoC1: url("../assets/fotos/productos/estuche-de-lentes-en-silicona.jpg"),
    productoC2: url("../assets/fotos/productos/cordones.jpg")
);

@each $articulo, $url in $productos {
    ##{$articulo}{
        @extend .miniatura;
        background-image: $url;
    }
}