*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Algunas constantes que se van a utilizar en todo el proyecto */
$color1: #0069a4;
$color2: whitesmoke;
$colorsection: rgba(245, 245, 245, 0.55);
$colorcard: rgba(245, 245, 245, 0.45);
$colorjumbotron-h2: rgb(5, 5, 5);
$colorjumbotron-h3: #4c5967;
$colorborder: black solid 1px;
$colorborder2: gray solid 1px;