@media only screen and (min-width:769px){
    .inicio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px auto 125px;
        grid-template-areas: "header"
        "mainInicio"
        "footer";
    }
    .mainInicio{
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "establecimiento establecimiento promociones"
        "productosYServicios masFotos promociones";
    }
    .accesorios{
        flex-direction: column;
    }
    .productos{
        article{
            overflow:auto;}
    }
    .productos{
        display: grid;
        .lentesDeSol, .lentesRecetados, .accesorios{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
        }
        grid-template-columns: 1fr;
        grid-template-rows: 150px 110px 1fr 110px 1fr 110px 1fr;
        grid-template-areas: "titulo_productos"
        "titulo_lentesDeSol"
        "lentesDeSol"
        "titulo_lentesRecetados"
        "lentesRecetados"
        "titulo_accesorios"
        "accesorios";
    }
/*     .jumbotron-h2{
        padding-bottom: 5rem;
        padding-top: 1rem;
    }
    .jumbotron-h3{
        padding-left: 10px;
        padding-bottom: 1rem;
        padding-top: 1rem;
    } */
}