div{
    width: 260px;
    height: 320px;
    margin: 10px;
    border: $colorborder2;
    background-color: $colorcard;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .miniaturaProducto{
        width: 230px;
        height: 150px;
        margin: 0px;
        padding: 0px;
        img{
            height: 100%;
            width: 100%;
            margin: 0px;
            object-fit: cover;
        }
    }
}
