*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Algunas constantes que se van a utilizar en todo el proyecto */
$color1: #3b8ac3;
$color2: whitesmoke;
$colorcard: rgba(245, 245, 245, 0.45);
$colorjumbotron-h2: #3b4856;
$colorjumbotron-h3: #4c5967;