.dondeEncontrarnos{
    .row{
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
}