.productos{
    display: block;
    h3{
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 50px;
    }
    article{
        overflow: scroll;
    }
    .lentesDeSol, .lentesRecetados, .accesorios{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        @import "../components/card";
    }
    .lentesDeSol{
        grid-area: lentesDeSol;
    }
    .lentesDeRecetados{
        grid-area: lentesRecetados;
    }
    .accesorios{
        grid-area: accesorios;
        flex-direction: column;
    }
}
#titulo_productos{
    grid-area: titulo_productos;
}
#titulo_lentesRecetados{
    grid-area: titulo_lentesRecetados;
}
#titulo_accesorios{
    grid-area: titulo_accesorios;
}

/* Importo Jumbotron */
@import "../components/jumbotron";