.mainInicio{
    grid-area: mainInicio;
    @import "../components/carrusel";
    .productosYServicios{
        grid-area: productosYServicios;
        @import "../components/_miniFotosPyS";
        .miniFotosPyS{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
/*     .masFotosinicio{
        grid-area: masFotos;
    } */
}

/* Se añade Mixin */
@mixin miniFotosEstilos($imagen) {  
    width: 100%;
    height: calc(100%/3);
    min-height: 120px;
    background-position: center;
    background-size: cover;
    background-image: $imagen;
}

/* #foto1{
    @include miniFotosEstilos(url("../assets/fotos/imagenesindex/lens-4818786_1920.jpg"));
}
#foto2{
    @include miniFotosEstilos(url("../assets/fotos/imagenesindex/contact-lenses-4792983_1920.jpg"));
}
#foto3{
    @include miniFotosEstilos(url("../assets/fotos/imagenesindex/glasses-6336907_1920.jpg"));
} */

.promocionesBancarias{
    grid-area: promociones;
    .imgdesc{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .descuentos{
            margin: 25px;
            border: 1px solid black;
            display: flex;
            flex-wrap: nowrap;
            height: 225px;
            width: 300px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}