/* Importo Jumbotron */
@import "../components/jumbotron";
body{
    overflow-x: hidden;
}
.productos{
    display: block;
    h2{
        @extend .jumbotron-h2;
        font-size: xx-large;
    }
    h3{
        @extend .jumbotron-h3;
        font-size: x-large;
    }
    article{
        width: 100%;
    }
    .lentesDeSol, .lentesRecetados, .accesorios{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        @import "../components/card";
    }
    .lentesDeSol{
        grid-area: lentesDeSol;
    }
    .lentesDeRecetados{
        grid-area: lentesRecetados;
    }
    .accesorios{
        grid-area: accesorios;
    }
}
#titulo_productos{
    grid-area: titulo_productos;
}
#titulo_lentesRecetados{
    grid-area: titulo_lentesRecetados;
}
#titulo_accesorios{
    grid-area: titulo_accesorios;
}